[app]
admin_password = 'watcher_password'
admin_username = 'watcher_admin'
http_tls_cert = 'testdata/server_cert.pem'
http_tls_key = 'testdata/server_key.pem'
root_url = 'http://localhost:1323'
secure_cookie_key = 'cddc196bdf9e76c9a343ed8fb33a553e'
use_tls = false
policy_update_interval = '1h'
policy_stale_after = '2h'

[app.oidc]
issuer = ''
client_id = ''
client_secret = ''

[db]
dbname = 'watcher'
host = '127.0.0.1'
password = 'watcher'
port = 5432
user = 'watcher'
