[app]
admin_password = 'watcher_password'
admin_username = 'watcher_admin'
http_tls_cert = 'testdata/server_cert.pem'
http_tls_key = 'testdata/server_key.pem'
root_url = 'http://localhost:1323'
secure_cookie_key = 'cddc196bdf9e76c9a343ed8fb33a553e'
use_tls = false
policy_update_interval = '1h'
policy_stale_after = '2h'

[app.oidc]
issuer = ''
client_id = ''
client_secret = ''

[osquery_bootstrap]
enabled = true

[osquery_bootstrap.linux.deb_amd64]
url = ''
sha256 = ''

[osquery_bootstrap.linux.deb_arm64]
url = ''
sha256 = ''

[osquery_bootstrap.linux.rpm_amd64]
url = ''
sha256 = ''

[osquery_bootstrap.linux.rpm_arm64]
url = ''
sha256 = ''

[osquery_bootstrap.macos.pkg_universal]
url = ''
sha256 = ''

[osquery_bootstrap.windows.msi_amd64]
url = ''
sha256 = ''

[db]
dbname = 'watcher'
host = '127.0.0.1'
password = 'watcher'
port = 5432
user = 'watcher'

[data]
# Root directory where scheduled-query Parquet files are written.
# An absolute path is recommended in production.
parquet_root = './data/results'
# Path to a persistent DuckDB catalog file. Empty = in-memory (re-scans
# Parquet metadata on cold start). Set a path to persist catalogs/indexes.
duckdb_path = ''
