{{ define "tag_selector" }}
<select 
    x-data
    x-init="$store.selectedTag = ''"
    x-model="$store.selectedTag"
    @change="$dispatch('search', {term: $store.searchTerm, tag: $store.selectedTag})"
    class="w-48 px-4 py-2 bg-white border border-primary-200 rounded-lg text-sm text-primary-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 appearance-none cursor-pointer"
    style="background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; fill=&quot;none&quot; stroke=&quot;currentColor&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot;><polyline points=&quot;6 9 12 15 18 9&quot;></polyline></svg>'); background-repeat: no-repeat; background-position: right 1rem center; background-size: 1.5em 1.5em; padding-right: 3rem;"
>
    <option value="">All Tags</option>
    {{ range . }}
    <option value="{{ . }}">{{ . }}</option>
    {{ end }}
</select>
{{ end }}
